server {
    listen 80;
    listen [::]:80;
    server_name telegram-movieworldug.filmjust.com;

    server_tokens off;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/letsencrypt;
        default_type "text/plain";
    }

    location / {
        return 404;
    }
}
